Repository jimmy-ungerman/pork3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

redis replicas
  kubernetes/apps/default/redis/values.yaml
Labels: area/kubernetes

redis app
  kubernetes/apps/default/redis/app.yaml
Labels: area/kubernetes

new image
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

expand pvc
  kubernetes/apps/monitoring/thanos/values.yaml
Labels: area/kubernetes

expand pvc
  kubernetes/apps/monitoring/thanos/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to ba16aa8
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

fix replicas
  kubernetes/apps/default/redis/values.yaml
Labels: area/kubernetes

fix config
  kubernetes/apps/default/authelia/config/configuration.sops.yml
Labels: area/kubernetes

spacing
  kubernetes/apps/default/authelia/config/configuration.sops.yml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 9a5e1b9
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

use release
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

test again
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

fix args
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

gitattributes
  .gitattributes
Labels: none

chore(container): update image ghcr.io/authelia/authelia to 9a5e1b9
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

fix(container): update image viaductoss/ksops to v4.1.2
  kubernetes/apps/argocd/overlays/argocd-repo-deploy.yaml
Labels: area/kubernetes

args part 2 electric boogaloo
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.5.2.7303
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

fix(container): update image viaductoss/ksops to v4.1.3
  kubernetes/apps/argocd/overlays/argocd-repo-deploy.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 060b519
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

new env variables
  kubernetes/apps/default/authelia/config/configuration.sops.yml
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

new env variable postgres
  kubernetes/apps/default/authelia/externalSecret.yaml
Labels: area/kubernetes

fix env variables
  kubernetes/apps/default/authelia/externalSecret.yaml
Labels: area/kubernetes

fix ports
  kubernetes/apps/default/authelia/externalSecret.yaml
Labels: area/kubernetes

fix env variables
  kubernetes/apps/default/authelia/externalSecret.yaml
Labels: area/kubernetes

fix env variables part 2
  kubernetes/apps/default/authelia/externalSecret.yaml
Labels: area/kubernetes

secret wasn't updating
  kubernetes/apps/default/authelia/externalSecret.yaml
Labels: area/kubernetes

fix log level now that new Authelia works
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

try to fix argo deployment
  kubernetes/apps/argocd/overlays/argocd-cm.sops.yaml
  kubernetes/apps/argocd/overlays/argocd-repo-deploy.yaml
Labels: area/kubernetes

revert to old ksops
  kubernetes/apps/argocd/overlays/argocd-repo-deploy.yaml
Labels: area/kubernetes

revert to old ksops part 2
  kubernetes/apps/argocd/overlays/argocd-repo-deploy.yaml
Labels: area/kubernetes

mv not copy
  kubernetes/apps/argocd/overlays/argocd-repo-deploy.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3335
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(container): update image viaductoss/ksops to v4.1.3
  kubernetes/apps/argocd/overlays/argocd-repo-deploy.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 441e0b3
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3336
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

chore(deps): update xanmanning.k3s to v3.4.1
  ansible/requirements.yml
Labels: area/ansible

chore(container): update image ghcr.io/authelia/authelia to 2aef0de
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 58316a4
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 12b18ce
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes
