Repository jimmy-ungerman/pork3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.663
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.664
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.665
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

feat(github-action): update tibdex/github-app-token action to v1.9.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.6.3939
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.6.3940
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 36a6ef2
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.6.3943
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 2f49217
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to ce5e15a
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

feat(ansible): update community.general to 7.4.0
  ansible/requirements.yml
Labels: area/ansible

chore(container): update image ghcr.io/recyclarr/recyclarr to db914c9
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.669
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 6716d59
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 8c39a6f
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 61e5e37
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

main test
  kubernetes/apps/default/recyclarr/recyclarr.yml
Labels: area/kubernetes

delete old cfs
  kubernetes/apps/default/recyclarr/recyclarr.yml
Labels: area/kubernetes

test removal
  kubernetes/apps/default/recyclarr/recyclarr.yml
Labels: area/kubernetes

new flag
  kubernetes/apps/default/recyclarr/recyclarr.yml
Labels: area/kubernetes

defauly score_set
  kubernetes/apps/default/recyclarr/recyclarr.yml
Labels: area/kubernetes

update upgrade settings
  kubernetes/apps/default/recyclarr/recyclarr.yml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to f64d11c
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 121d1a8
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.671
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 7661383
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 003f807
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/plex to v1.32.6.7468-07e0d4a7e
  kubernetes/apps/default/plex/values.yaml
Labels: area/kubernetes

fix(ansible): update community.sops to 1.6.6
  ansible/requirements.yml
Labels: area/ansible

chore(container): update image ghcr.io/recyclarr/recyclarr to 2efb252
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 61103b5
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 39b4b06
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 3fe97ba
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 308a732
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.674
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.676
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image viaductoss/ksops to v4.2.2
  kubernetes/apps/argocd/overlays/argocd-repo-deploy.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.682
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image quay.io/thanos/thanos to v0.32.3
  kubernetes/apps/monitoring/kube-prometheus-stack/values.yaml
  kubernetes/apps/monitoring/thanos/values.yaml
Labels: area/kubernetes

new radarr template
  kubernetes/apps/default/recyclarr/recyclarr.yml
Labels: area/kubernetes
