Repository jimmy-ungerman/pork3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

feat(helm): update chart longhorn to 1.5.1
  kubernetes/apps/storage/longhorn/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/plex to v1.32.5.7328-2632c9d3a
  kubernetes/apps/default/plex/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.571
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.574
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.575
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/plex to cdcf7d8
  kubernetes/apps/default/plex/values.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/home-assistant to v2023.7.3
  kubernetes/apps/default/home-assistant/values.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/coder/code-server to v4.15.0
  kubernetes/apps/default/home-assistant/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/theme-park to v1.13.10
  kubernetes/apps/default/theme-park/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.577
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

feat(github-action)!: Update renovatebot/github-action action to v39.0.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/plex to v1.32.5.7349-8f4248874
  kubernetes/apps/default/plex/values.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 6.58.6
  kubernetes/apps/monitoring/grafana/kustomization.yaml
Labels: area/kubernetes

feat(helm): update chart redis to 17.14.2
  kubernetes/apps/default/redis/kustomization.yaml
Labels: area/kubernetes

feat(helm): update chart thanos to 12.9.1
  kubernetes/apps/monitoring/thanos/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.578
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/radarr-nightly to v4.7.3.7722
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

feat(helm)!: Update chart kube-prometheus-stack to 48.2.2
  kubernetes/apps/monitoring/kube-prometheus-stack/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart cloudnative-pg to 0.18.2
  kubernetes/apps/default/cloudnative-pg/kustomization.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.0.3796
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

more master nodes
  ansible/kubernetes/inventory/host_vars/katara.sops.yml
  ansible/kubernetes/inventory/host_vars/sokka.sops.yml
  ansible/kubernetes/inventory/hosts.yml
Labels: area/ansible

fix ns
  kubernetes/apps/default/radarr/app.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.0.3800
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

remove theme park
  kubernetes/apps/default/theme-park/app.yaml
  kubernetes/apps/default/theme-park/kustomization.yaml
  kubernetes/apps/default/theme-park/values.yaml
Labels: area/kubernetes

remove theme park
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/tautulli/values.yaml
Labels: area/kubernetes

theme park
  kubernetes/apps/default/prowlarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
  kubernetes/apps/default/sabnzbd/values.yaml
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.582
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.7.3.7729
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.0.3803
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.0.3805
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.7.3.7731
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.7.4.7732
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.1.3807
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.583
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.1.3812
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.7.4.7736
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.7.4.7737
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.584
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.585
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.7.4.7738
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
