Repository jimmy-ungerman/pork3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.3.3880
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.641
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.642
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.4.3881
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to b4671d7
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to a7c6376
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.644
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to f39c3a0
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to ca504bc
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.4.3882
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.645
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 9249e41
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to ab69c37
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.4.3883
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.646
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

use cilium based annotation
  kubernetes/apps/networking/ingress-nginx/app/values.yaml
Labels: area/kubernetes

use new IP address
  kubernetes/apps/networking/ingress-nginx/app/values.yaml
Labels: area/kubernetes

feat(github-action): update actions/checkout action to v3.6.0
  .github/workflows/link-check.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.8.4
  kubernetes/apps/default/home-assistant/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 46b661e
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 56d6611
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

fix(ansible): update community.sops to 1.6.5
  ansible/requirements.yml
Labels: area/ansible

feat(container): update image ghcr.io/onedr0p/tautulli to v2.13.1
  kubernetes/apps/default/tautulli/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 4f486ea
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

feat(helm)!: Update chart redis to 18.0.0
  kubernetes/apps/default/redis/kustomization.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 6.59.0
  kubernetes/apps/monitoring/grafana/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.4.3884
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.0.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.5.3885
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.0.3
  .github/workflows/renovate.yaml
Labels: area/github

feat(helm): update chart kube-prometheus-stack to 48.6.0
  kubernetes/apps/monitoring/kube-prometheus-stack/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.5.3886
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

feat(helm): update chart redis to 17.17.1
  kubernetes/apps/default/redis/kustomization.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 59891d0
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 21fdf8c
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

feat(helm)!: Update chart kube-prometheus-stack to 49.0.0
  kubernetes/apps/monitoring/kube-prometheus-stack/kustomization.yaml
Labels: area/kubernetes

feat(container): update image quay.io/thanos/thanos to v0.32.1
  kubernetes/apps/monitoring/kube-prometheus-stack/values.yaml
  kubernetes/apps/monitoring/thanos/values.yaml
Labels: area/kubernetes

feat(helm): update chart thanos to 12.12.1
  kubernetes/apps/monitoring/thanos/kustomization.yaml
Labels: area/kubernetes

feat(helm): update chart prometheus-smartctl-exporter to 0.6.0
  kubernetes/apps/monitoring/smartctl-exporter/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.5.3888
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes
