Repository jimmy-ungerman/pork3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.548
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to f57760e
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to cc223dc
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.6.4.7544
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

feat(github-action): update release-drafter/release-drafter action to v5.24.0
  .github/workflows/release-drafter.yaml
Labels: area/github

feat(github-action): update actions/labeler action to v4.2.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.6.4.7547
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 1c8272c
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 0bcaa16
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

fix(ansible): update community.sops to 1.6.4
  ansible/requirements.yml
Labels: area/ansible

fix(helm): update chart ingress-nginx to 4.7.1
  kubernetes/apps/networking/ingress-nginx/app/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.6.4.7553
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to fdc2168
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 3f91f1b
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 6ddd404
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.551
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.6.4.7564
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.6.4.7566
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.552
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 37b9aa9
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v38.1.9
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v38.1.11
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/recyclarr/recyclarr to d6fc020
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

feat(github-action): update actions/labeler action to v4.3.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/sabnzbd to v4.0.3
  kubernetes/apps/default/sabnzbd/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.555
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

feat(helm)!: Update chart kube-prometheus-stack to 47.6.1
  kubernetes/apps/monitoring/kube-prometheus-stack/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.556
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.557
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.559
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v38.1.13
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/tautulli to v2.12.5
  kubernetes/apps/default/tautulli/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.560
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.562
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.564
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.565
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

feat(ansible): update community.general to 7.2.0
  ansible/requirements.yml
Labels: area/ansible

chore(container): update image ghcr.io/recyclarr/recyclarr to f126b97
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.569
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.570
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes
