Repository jimmy-ungerman/pork3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

feat(container): update image ghcr.io/tarampampam/error-pages to v2.26.0
  kubernetes/apps/networking/ingress-nginx/app/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to a823982
  kubernetes/apps/default/authelia/app/values.yaml
Labels: area/kubernetes

feat(ansible)!: Update kubernetes.core to 3.0.0
  ansible/requirements.yml
Labels: area/ansible

chore(container): update image ghcr.io/authelia/authelia to 7828e77
  kubernetes/apps/default/authelia/app/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.2.3.8297
  kubernetes/apps/default/radarr/app/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.2.3.8298
  kubernetes/apps/default/radarr/app/values.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/onedr0p/postgres-init to v15
  kubernetes/apps/default/authelia/app/values.yaml
  kubernetes/apps/default/lldap/app/values.yaml
  kubernetes/apps/default/prowlarr/app/values.yaml
  kubernetes/apps/default/radarr/app/values.yaml
  kubernetes/apps/default/sonarr/app/values.yaml
  kubernetes/apps/monitoring/grafana/app/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.2.3.8299
  kubernetes/apps/default/radarr/app/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-2
  kubernetes/apps/database/cloudnative-pg/app/cluster/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.2.3.8301
  kubernetes/apps/default/radarr/app/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-3
  kubernetes/apps/database/cloudnative-pg/app/cluster/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-4
  kubernetes/apps/database/cloudnative-pg/app/cluster/cluster.yaml
Labels: area/kubernetes

feat(container): update image viaductoss/ksops to v4.3.0
  kubernetes/apps/argocd/overlays/argocd-repo-deploy.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to c63bd7a
  kubernetes/apps/default/authelia/app/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 88842b3
  kubernetes/apps/default/authelia/app/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.2.3.8303
  kubernetes/apps/default/radarr/app/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.733
  kubernetes/apps/default/sonarr/app/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 3dc2509
  kubernetes/apps/default/authelia/app/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.2.4.8304
  kubernetes/apps/default/radarr/app/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.2.4.8307
  kubernetes/apps/default/radarr/app/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 303d82c
  kubernetes/apps/default/authelia/app/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sabnzbd to f2f3971
  kubernetes/apps/default/sabnzbd/app/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.10.5.4116
  kubernetes/apps/default/prowlarr/app/values.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.1.4
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 4671025
  kubernetes/apps/default/authelia/app/values.yaml
Labels: area/kubernetes

test
  kubernetes/apps/monitoring/kube-prometheus-stack/app/app.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/kustomization.yaml
Labels: area/kubernetes

graphite-exporter
  kubernetes/apps/monitoring/graphite-exporter/app/app.yaml
  kubernetes/apps/monitoring/graphite-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/graphite-exporter/kustomization.yaml
Labels: area/kubernetes

feat(helm): update chart app-template to 2.3.0
  kubernetes/apps/default/authelia/app.yaml
  kubernetes/apps/default/lldap/app.yaml
  kubernetes/apps/default/overseerr/app.yaml
  kubernetes/apps/default/plex/app.yaml
  kubernetes/apps/default/prowlarr/app.yaml
  kubernetes/apps/default/radarr/app.yaml
  kubernetes/apps/default/recyclarr/app.yaml
  kubernetes/apps/default/sabnzbd/app.yaml
  kubernetes/apps/default/sonarr/app.yaml
  kubernetes/apps/default/tautulli/app.yaml
  kubernetes/apps/monitoring/graphite-exporter/app/app.yaml
  kubernetes/apps/networking/cloudflare-ddns/app.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 54.2.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/app.yaml
Labels: area/kubernetes

grafana
  kubernetes/apps/monitoring/grafana/app/app.yaml
Labels: area/kubernetes

grafana
  kubernetes/apps/monitoring/grafana/app/kustomization.yaml
  kubernetes/apps/monitoring/grafana/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.11
  kubernetes/apps/monitoring/grafana/app/app.yaml
Labels: area/kubernetes

fix paths
  kubernetes/apps/monitoring/kube-state-metrics/app/app.yaml
  kubernetes/apps/monitoring/kube-state-metrics/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-state-metrics/kustomization.yaml
  kubernetes/apps/monitoring/node-exporter/app/app.yaml
  kubernetes/apps/monitoring/node-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/node-exporter/kustomization.yaml
  kubernetes/apps/monitoring/smartctl-exporter/app/app.yaml
  kubernetes/apps/monitoring/smartctl-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/smartctl-exporter/kustomization.yaml
Labels: area/kubernetes

test new kustomization
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/kustomization.yaml
Labels: area/kubernetes

test new kustomization for grafana
  kubernetes/apps/monitoring/grafana/kustomization.yaml
Labels: area/kubernetes

fix monitoring namespace
  kubernetes/apps/monitoring/grafana/app/kustomization.yaml
Labels: area/kubernetes

kustomization namespace override removal for application management
  kubernetes/apps/monitoring/graphite-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/graphite-exporter/kustomization.yaml
  kubernetes/apps/monitoring/kube-state-metrics/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-state-metrics/kustomization.yaml
  kubernetes/apps/monitoring/node-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/node-exporter/kustomization.yaml
  kubernetes/apps/monitoring/smartctl-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/smartctl-exporter/kustomization.yaml
Labels: area/kubernetes

kustomization namespace override removal for application management in cert-manager
  kubernetes/apps/cert-manager/app/app.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
Labels: area/kubernetes

kustomization namespace override removal for application management in cert-manager
  kubernetes/apps/cert-manager/app/kustomization.yaml
Labels: area/kubernetes

kustomization namespace override removal for application management in database
  kubernetes/apps/cert-manager/app/app.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
