Repository jimmy-ungerman/pork3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

feat(helm): update chart redis to 17.11.4
  kubernetes/apps/default/redis/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3549
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.6.2.7468
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3550
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.6.2.7480
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3552
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v38.1.4
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1f6e998
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sabnzbd to 4bda9b9
  kubernetes/apps/default/sabnzbd/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sonarr-develop to e200078
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/tautulli to b45635b
  kubernetes/apps/default/tautulli/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/home-assistant to 46418bf
  kubernetes/apps/default/home-assistant/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.6.2
  kubernetes/apps/default/home-assistant/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3557
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.6.2.7485
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3558
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3559
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/prowlarr-nightly to ce41c79
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v38.1.6
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/home-assistant to cb6d2e3
  kubernetes/apps/default/home-assistant/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/prowlarr-nightly to b2049f8
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sabnzbd to 0e62d04
  kubernetes/apps/default/sabnzbd/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sonarr-develop to dc7860e
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/tautulli to d4b2306
  kubernetes/apps/default/tautulli/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.6.2.7489
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3560
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.6.2.7490
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v38.1.7
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update xanmanning.k3s to v3.4.2
  ansible/requirements.yml
Labels: area/ansible

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3564
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 20f5480
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3566
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3569
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.6.3.7492
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3570
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3571
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.6.3.7501
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.6.3.7502
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3573
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/plex to v1.32.4.7195-7c8f9d3b6
  kubernetes/apps/default/plex/values.yaml
Labels: area/kubernetes
