Repository jimmy-ungerman/pork3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

chore(container): update image ghcr.io/onedr0p/sabnzbd to d59f9e9
  kubernetes/apps/default/sabnzbd/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/plex to 7cc587b
  kubernetes/apps/default/plex/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sabnzbd to 7bf1340
  kubernetes/apps/default/sabnzbd/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/tautulli to 23fb105
  kubernetes/apps/default/tautulli/values.yaml
Labels: area/kubernetes

feat(helm)!: Update chart app-template to 2.0.3
  kubernetes/apps/default/authelia/kustomization.yaml
  kubernetes/apps/default/glauth/kustomization.yaml
  kubernetes/apps/default/home-assistant/kustomization.yaml
  kubernetes/apps/default/overseerr/kustomization.yaml
  kubernetes/apps/default/plex/kustomization.yaml
  kubernetes/apps/default/prowlarr/kustomization.yaml
  kubernetes/apps/default/radarr/kustomization.yaml
  kubernetes/apps/default/radarr4k/kustomization.yaml
  kubernetes/apps/default/recyclarr/kustomization.yaml
  kubernetes/apps/default/sabnzbd/kustomization.yaml
  kubernetes/apps/default/sonarr/kustomization.yaml
  kubernetes/apps/default/tautulli/kustomization.yaml
  kubernetes/apps/networking/cloudflare-ddns/kustomization.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/plex to 9460bb2
  kubernetes/apps/default/plex/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sabnzbd to b11b8d2
  kubernetes/apps/default/sabnzbd/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/plex to 6f87b08
  kubernetes/apps/default/plex/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sonarr-develop to 404f660
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/tautulli to a63ed8d
  kubernetes/apps/default/tautulli/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sabnzbd to 5f57311
  kubernetes/apps/default/sabnzbd/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sonarr-develop to cc88687
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/tautulli to 2ac1bc4
  kubernetes/apps/default/tautulli/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 4660aef
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.694
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.695
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.697
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

feat(github-action)!: Update tibdex/github-app-token action to v2.1.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image viaductoss/ksops to v4.2.4
  kubernetes/apps/argocd/overlays/argocd-repo-deploy.yaml
Labels: area/kubernetes

feat(helm): update chart ingress-nginx to 4.8.2
  kubernetes/apps/networking/ingress-nginx/app/kustomization.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sabnzbd to 91f3cd6
  kubernetes/apps/default/sabnzbd/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sonarr-develop to fa87be8
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/tautulli to 5252094
  kubernetes/apps/default/tautulli/values.yaml
Labels: area/kubernetes

fix(ansible): update community.sops to 1.6.6
  ansible/requirements.yml
Labels: area/ansible

feat(ansible): update community.general to 7.4.0
  ansible/requirements.yml
Labels: area/ansible

fix(github-action): update renovatebot/github-action action to v39.0.6
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v39.1.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(helm): update chart prometheus-smartctl-exporter to 0.7.0
  kubernetes/apps/monitoring/smartctl-exporter/kustomization.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 6142696
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

feat(github-action): update release-drafter/release-drafter action to v5.25.0
  .github/workflows/release-drafter.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.700
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(github-action): update actions/checkout action to v4.1.1
  .github/workflows/link-check.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/recyclarr/recyclarr to e4c6aea
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 6.61.1
  kubernetes/apps/monitoring/grafana/kustomization.yaml
Labels: area/kubernetes

fix(container): update image quay.io/thanos/thanos to v0.32.5
  kubernetes/apps/monitoring/kube-prometheus-stack/values.yaml
  kubernetes/apps/monitoring/thanos/values.yaml
Labels: area/kubernetes

feat(helm): update chart cloudnative-pg to 0.19.0
  kubernetes/apps/default/cloudnative-pg/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 12.13.12
  kubernetes/apps/monitoring/thanos/kustomization.yaml
Labels: area/kubernetes

feat(helm): update chart redis to 18.1.6
  kubernetes/apps/default/redis/kustomization.yaml
Labels: area/kubernetes

feat(helm)!: Update chart kube-prometheus-stack to 51.10.0
  kubernetes/apps/monitoring/kube-prometheus-stack/kustomization.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/coder/code-server to v4.18.0
  kubernetes/apps/default/home-assistant/values.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
