Repository jimmy-ungerman/pork3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

Update labels.yaml
  .github/labels.yaml
Labels: area/github

Update renovate.json5
  .github/renovate.json5
Labels: area/github

try renovate as action
  .github/renovate-bot.json5
  .github/workflows/renovate.yaml
Labels: area/github

fix config
  .github/renovate.json5
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to d4edfa0
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.493
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(helm): update chart longhorn to 1.4.2
  kubernetes/apps/storage/longhorn/kustomization.yaml
Labels: area/kubernetes

feat(github-action)!: Update renovatebot/github-action action to v37.0.0
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 99b5bc5
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to efaffe1
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3320
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to ff0f310
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/postgres-initdb to v14.8
  kubernetes/apps/default/authelia/values.yaml
  kubernetes/apps/default/home-assistant/values.yaml
  kubernetes/apps/monitoring/grafana/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 256e26a
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3330
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to dfbffb8
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 160279f
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.5.1.7284
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.496
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to 60cea4e
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.5.3
  kubernetes/apps/default/home-assistant/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to 7179062
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

feat(github-action): update lycheeverse/lychee-action action to v1.8.0
  .github/workflows/link-check.yaml
Labels: area/github

chore(container): update image ghcr.io/recyclarr/recyclarr to 67bd6d8
  kubernetes/apps/default/recyclarr/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/authelia/authelia to efcbd54
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.500
  kubernetes/apps/default/sonarr/values.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.56.4
  kubernetes/apps/monitoring/grafana/kustomization.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.28.0
  kubernetes/apps/monitoring/kube-prometheus-stack/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.5.2.7294
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3331
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(ansible): update ansible.posix to 1.5.4
  ansible/requirements.yml
Labels: area/ansible

chore(container): update image ghcr.io/authelia/authelia to 443ae63
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.5.2.7296
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

automerge radarr nightly packages (renovate)
  .github/renovate/autoMerge.json5
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to ba16aa8
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3332
  kubernetes/apps/default/prowlarr/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.5.2.7298
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v4.5.2.7300
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/radarr4k/values.yaml
Labels: area/kubernetes

fix unifi endpoint
  kubernetes/apps/networking/externalServices/unifi.yaml
Labels: area/kubernetes

trace logs
  kubernetes/apps/default/authelia/values.yaml
Labels: area/kubernetes
