Repository jimmy-ungerman/pork3s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.1.1047
  kubernetes/apps/default/sonarr/app/values.yaml
Labels: area/kubernetes

feat(helm): update chart prometheus-node-exporter to 4.27.0
  kubernetes/apps/monitoring/node-exporter/app/app.yaml
Labels: area/kubernetes

feat(helm): update chart redis to 18.12.0
  kubernetes/apps/database/redis/app/app.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 56.6.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/app.yaml
Labels: area/kubernetes

fix tunnel value
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

remove tunnel
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

native routing mode
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-17
  kubernetes/apps/database/cloudnative-pg/app/cluster/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.3.4.8555
  kubernetes/apps/default/radarr/app/values.yaml
Labels: area/kubernetes

feat(github-action)!: Update release-drafter/release-drafter action to v6.0.0
  .github/workflows/release-drafter.yaml
Labels: area/github

upgrade talos
  infra/talos/talconfig.yaml
Labels: none

additional settings
  infra/talos/talconfig.yaml
Labels: none

fix deprecated settings
  infra/talos/talconfig.yaml
Labels: none

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.3.4.8558
  kubernetes/apps/default/radarr/app/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.3.4.8559
  kubernetes/apps/default/radarr/app/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.3.4.8561
  kubernetes/apps/default/radarr/app/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-18
  kubernetes/apps/database/cloudnative-pg/app/cluster/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.3.4.8562
  kubernetes/apps/default/radarr/app/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.3.4.8567
  kubernetes/apps/default/radarr/app/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.13.1.4243
  kubernetes/apps/default/prowlarr/app/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.13.2.4251
  kubernetes/apps/default/prowlarr/app/values.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 56.6.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/app.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.3.5.8570
  kubernetes/apps/default/radarr/app/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sabnzbd to 5b1f15c
  kubernetes/apps/default/sabnzbd/app/values.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/tautulli to d925cbb
  kubernetes/apps/default/tautulli/app/values.yaml
Labels: area/kubernetes

fix(helm): update chart cloudnative-pg to 0.20.1
  kubernetes/apps/database/cloudnative-pg/app/app.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.3.5.8572
  kubernetes/apps/default/radarr/app/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.1.1096
  kubernetes/apps/default/sonarr/app/values.yaml
Labels: area/kubernetes

feat(helm): update chart argo-cd to 5.55.0
  kubernetes/apps/argocd/app/app.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.67
  kubernetes/apps/kube-system/reloader/app/app.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.3.5.8577
  kubernetes/apps/default/radarr/app/values.yaml
Labels: area/kubernetes

feat(helm): update chart metrics-server to 3.12.0
  kubernetes/apps/kube-system/metrics-server/app/app.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.3.5.8578
  kubernetes/apps/default/radarr/app/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.3.5.8579
  kubernetes/apps/default/radarr/app/values.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-19
  kubernetes/apps/database/cloudnative-pg/app/cluster/cluster.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v40.0.3
  .github/workflows/renovate.yaml
Labels: area/github

feat(helm): update chart cert-manager to v1.14.2
  kubernetes/apps/cert-manager/app/app.yaml
Labels: area/kubernetes

fix(helm): update chart rook-ceph to v1.13.4
  kubernetes/apps/rook-ceph/app/operator/app-operator.yaml
Labels: area/kubernetes

fix(helm): update chart rook-ceph-cluster to v1.13.4
  kubernetes/apps/rook-ceph/app/cluster/app-cluster.yaml
Labels: area/kubernetes

fix(helm): update chart external-secrets to 0.9.12
  kubernetes/apps/kube-system/external-secrets/app/external-secrets/app.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
